Rx==3.2.0
aiohttp==3.8.6; python_version < '3.11.5'
aioquic==0.9.21
asyncclick==8.1.3.4
asyncstdlib==3.10.9
coverage==6.5.0
coveralls==3.3.1
decoy==2.1.0
flake8==6.1.0
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-profiling==1.7.0
pytest-rerunfailures==12.0
pytest-timeout==2.2.0
pytest-xdist==3.3.1
pytest==7.4.2
quart==0.19.3
reactivex==4.0.4
starlette==0.31.1
cbitstruct==1.0.9; python_version < '3.11.5'
cloudevents==1.10.0
pydantic==1.10.13
Werkzeug==3.0.0
graphql-core==3.2.3
gql==3.4.1
websockets==11.0.3