Rx==3.2.0
aiohttp==3.9.1
aioquic==0.9.24
asyncclick==8.1.3.4
asyncstdlib==3.10.9
coverage==6.5.0
coveralls==3.3.1
decoy==2.1.1
flake8==6.1.0
pytest-asyncio==0.23.2
pytest-cov==4.1.0
pytest-profiling==1.7.0
pytest-rerunfailures==13.0
pytest-timeout==2.2.0
pytest-xdist==3.5.0
pytest==7.4.3
quart==0.19.4
reactivex==4.0.4
starlette==0.33.0
cbitstruct==1.1.0
cloudevents==1.10.1
pydantic==1.10.13
Werkzeug==3.0.1
graphql-core==3.2.3
gql==3.4.1
websockets==12.0
asyncwebsockets==0.9.4