Rx==3.2.0

aiohttp==3.11.13; python_version > "3.8"
aiohttp==3.10.11; python_version == "3.8"

aioquic==1.2.0
asyncstdlib==3.13.1

asyncclick==8.1.8; python_version > "3.8"
asyncclick==8.1.7.2; python_version == "3.8"

coverage==6.5.0
coveralls==3.3.1
decoy==2.1.1

flake8==7.2.0; python_version > "3.8"
flake8==7.1.2; python_version == "3.8"

pytest-asyncio==0.25.3; python_version > "3.8"
pytest-asyncio==0.23.4; python_version == "3.8"

pytest-cov==4.1.0

pytest-profiling==1.8.1; python_version > "3.8"
pytest-profiling==1.7.0; python_version == "3.8"

pytest-rerunfailures==15.1; python_version > "3.8"
pytest-rerunfailures==14.0; python_version == "3.8"

pytest-timeout==2.3.1
pytest-xdist==3.6.1

pytest==8.3.4; python_version > "3.8"
pytest==7.4.4; python_version == "3.8"

quart==0.20.0; python_version > "3.8"
quart==0.19.9; python_version == "3.8"

reactivex==4.0.4

starlette==0.46.1; python_version > "3.8"
starlette==0.44.0; python_version == "3.8"

cbitstruct==1.1.0; python_version <= "3.12"
cloudevents==1.11.0
pydantic==1.10.21

Werkzeug==3.1.3; python_version > "3.8"
Werkzeug==3.0.6; python_version == "3.8"

graphql-core==3.2.3
gql==3.5.2

websockets==15.0.1; python_version > "3.8"
websockets==13.1; python_version == "3.8"

asyncwebsockets==0.9.4

fastapi==0.115.11

channels==4.0.0
daphne==4.1.2